@{
  ViewBag.Title = "Portfolio";
}


<div class="breadcrumb-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>Portfolio</h4>
      </div>
      <div class="col-sm-6 hidden-xs text-right">
        <ol class="breadcrumb">
          <li><a href="@Url.Action("Index", "Home")">Home</a></li>
          <li class="active">Portfolio Projects</li>
        </ol>
      </div>
    </div>
  </div>
</div><!--breadcrumbs-->
<div class="divide80"></div>
<div class="container">
  <div class="col-lg-4 center-block">
    <div class="section-box-four">
      <!---->
      <figure>
        <h3>Javascript Exercises</h3>
        <p>Javascript exercises showcase</p>
        <a href="@Url.Action("PortfolioJs", "Home")" class="btn btn-read">Go To</a>
      </figure>
      <img src="http://ewanvalentine.io/content/images/2017/05/java-script.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-lg-4 center-block">
    <div class="section-box-one">
      <!---->
      <figure>
        <h3>CarFinder Info</h3>
        <p>CarFinder is a application that will search and find different vehicle from a sql database.  This was implemented by using AngularJS.</p>
        <a href="#" class="btn btn-read">Go To</a>
      </figure>
      <img src="http://media.fastestlaps.com/t9o43a6ij7c7" class="img-responsive" />
    </div>
  </div>
  <div class="col-lg-4 center-block">
    <div class="section-box-two">
      <!---->
      <figure>
        <h3>Fam Budget</h3>
        <p>
          Fam Budget is basically a financial planner where you can help budget your/family monthly expenses.  This will allow for an accurate calculation of each individual expenses
        and as well as savings.  This was implemented using MVC, bootsrap, jquery, highchart, Sass, etc.</p>
        <a href="#" class="btn btn-read">Go To</a>
      </figure>
      <img src="https://niskanencenter.org/wp-content/uploads/2017/05/budget.jpg" class="img-responsive" />
    </div>
  </div>
  <div> </div>
  <div class="col-lg-4 center-block">
    <div class="section-box-three">
      <!---->
      <figure>
        <h3>BugTracker</h3>
        <p>BugTracker is a ticket distributor.  The application is to help with bug fixes and feature discussions.  This was implemented using MVC, bootstrap, jquery, Sass, etc.</p>
        <a href="#" class="btn btn-read">Go To</a>
      </figure>
      <img src="http://www.behprint.com/wp-content/plugins/RSSPoster_PRO-PersianScript/cache/24548_6-Baby-Bug.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-lg-4 center-block">
    <div class="section-box-two">
      <!---->
      <figure>
        <h3>PokeDex's</h3>
        <p>
          PokeDex is use to find pokemon info.  Using pokeapi.co.
        </p>
        <a href="#" class="btn btn-read">Go To</a>
      </figure>
      <img src="https://cdn3.recombu.com/media/mobile/Features/PokemonGOPokedex/PokedexHero_w720.jpg" class="img-responsive" />
    </div>
  </div>
</div><!--/container-->
<div class="divide60"></div>
