@{
   
}

<div class="breadcrumb-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>JavaScript Exercises</h4>
      </div>
      <div class="col-sm-6 hidden-xs text-right">
        <ol class="breadcrumb">
          <li><a href="@Url.Action("Index", "Home")">Home</a></li>
          <li><a href="@Url.Action("Portfolio", "Home")">Portfolio</a></li>
          <li class="active">JavaScript Projects</li>
        </ol>
      </div>
    </div>
  </div>
</div><!--breadcrumbs-->
<div class="divide80"></div>
<div class="container">
  <div class="col-lg-4 center-block">
    <div class="section-box-twelve">
      <!---->
      <figure>
        <a href="#"><i class="fa fa-search"></i></a>
      </figure>
      <img src="http://www.ayushmaantechnologies.com/wp-content/uploads/2017/01/5-things-to-consider-when-selecting-a-web-design-agency-1.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-lg-4 center-block">
    <div class="section-box-twelve">
      <!---->
      <figure>
        <a href="#"><i class="fa fa-search"></i></a>
      </figure>
      <img src="http://www.ayushmaantechnologies.com/wp-content/uploads/2017/01/5-things-to-consider-when-selecting-a-web-design-agency-1.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-lg-4 center-block">
    <div class="section-box-twelve">
      <!---->
      <figure>
        <a href="#"><i class="fa fa-search"></i></a>
      </figure>
      <img src="http://www.ayushmaantechnologies.com/wp-content/uploads/2017/01/5-things-to-consider-when-selecting-a-web-design-agency-1.jpg" class="img-responsive" />
    </div>
  </div>

  <div> </div>

  <div class="col-lg-4 center-block">
    <div class="section-box-twelve">
      <!---->
      <figure>
        <a href="#"><i class="fa fa-search"></i></a>
      </figure>
      <img src="http://www.ayushmaantechnologies.com/wp-content/uploads/2017/01/5-things-to-consider-when-selecting-a-web-design-agency-1.jpg" class="img-responsive" />
    </div>
  </div>

</div><!--/container-->
<div class="divide60"></div>