@{
   
}

<div class="breadcrumb-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>JavaScript Exercises</h4>
      </div>
      <div class="col-sm-6 hidden-xs text-right">
        <ol class="breadcrumb">
          <li><a href="@Url.Action("Index", "Home")">Home</a></li>
          <li><a href="@Url.Action("Portfolio", "Home")">Portfolio</a></li>
          <li class="active">JavaScript Projects</li>
        </ol>
      </div>
    </div>
  </div>
</div><!--breadcrumbs-->
<div class="divide80"></div>
<div class="container">
  <div class="col-lg-4 center-block">
    <div class="section-box-twelve">
      <!---->
      <figure>
        <a href="#"><i class="fa fa-search"></i></a>
      </figure>
      <img src="https://rukminim1.flixcart.com/image/704/704/calculator/s/e/b/casio-fx-991-ms-fx-991-ms-original-imaeh4zfcagve5hg.jpeg?q=70" class="img-responsive" />
    </div>
  </div>
  <div class="col-lg-4 center-block">
    <div class="section-box-twelve">
      <!---->
      <figure>
        <a href="#"><i class="fa fa-search"></i></a>
      </figure>
      <img src="http://3.bp.blogspot.com/-Od-FQyrPu5E/UEDjEWlSZgI/AAAAAAAAA2E/SYWFfcWa9RI/s1600/Factorial_of_a_number_Maths_tricks_and_tips.jpg" class="img-responsive" />
    </div>
  </div>
  <div class="col-lg-4 center-block">
    <div class="section-box-twelve">
      <!---->
      <figure>
        <a href="#"><i class="fa fa-search"></i></a>
      </figure>
      <img src="https://lh3.googleusercontent.com/D7K7vlwPhCkh2Gjypa84kBTAonyRfz55tVIgQxD1coz-AvWif8ivnVia4_RjKKn9HXI=h310" class="img-responsive" />
    </div>
  </div>

  <div>&nbsp;</div>

  <div class="col-lg-4 center-block">
    <div class="section-box-twelve">
      <!---->
      <figure>
        <a href="#"><i class="fa fa-search"></i></a>
      </figure>
      <img src="https://i2.wp.com/cuteandkids.com/wp-content/uploads/2017/04/palindrome.jpeg?resize=800%2C566" class="img-responsive" />
    </div>
  </div>

</div><!--/container-->
<div class="divide60"></div>