@{
  ViewBag.Title = "Resume";
}

<div class="breadcrumb-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>Resume</h4>
      </div>
      <div class="col-sm-6 hidden-xs text-right">
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Resume</li>
        </ol>
      </div>
    </div>
  </div>
</div><!--breadcrumbs-->
<div class="divide80"></div>
<div class="row">
  <div class="col-md-3 pull-right">
    <a href="~/assets/pdf/AYang.pdf" class="btn btn-default btn-custom-2"><i class="fa fa-cloud-download icon-before"></i>Download</a>
  </div>
</div>
<div class="container process">
  <h2>Objective</h2>
  <p class="lead">
    To obain a position as a software developer where I can build, innovate, and distribute knowledge.  Allowing myself to create
    product that benefits human everyday usage is what I strive to do.  Also to troubleshoot and generate more efficient methods to allow
    for a better understanding of syntex.
  </p>
  <hr>
  <div class="divide40"></div>
  <div class="process-step">
    <span class="process-border"></span>
    <div class="step">
      <div class="icon-square"> <i class="fa fa-building"></i> </div>
      <h5>PieTech MoneyGuidePro</h5>
      <p>
        Responsibilities at PieTech.
        Collaborate with team members to produce production code for MoneyGuidePro
        Translate mockups into front-end code
        Troubleshoot front-end coding and browser compatibility issues
        Troubleshooting fogbugz
        Adhere to brand standards
        Remain current on all topics related to web and user experience design
      </p>
      <p>
        Skills
        Use TortoiseHg repository
        JavaScript and jQuery
        KnockoutJS and Aurelia
        Responsive Web Design using the Bootstrap framework
        HTML5, CSS3, and LESS skills
        cross-platform and cross-browser development
        MVC, C#, ASP.Net Razor
      </p>
    </div>
    <div class="step">
      <div class="icon-square"> <i class="fa fa-lightbulb-o"></i> </div>
      <h5>Coder Foundry</h5>
      <p>Learn how to code in .Net Framework, CSS, HTML, LINQ, MVC, ANGULARJS, SQL, etc.</p>
    </div>
    <div class="step even">
      <div class="icon-square"> <i class="fa fa-stethoscope"></i> </div>
      <h5>CSL Plasma Inc.</h5>
      <p>
        Medical Receptionist <br />
        August 2012 - Present(3 years 6 months) | Charlotte, North Carolina area
      </p>
      <ul>
        <li>Customer focused and administrative duties</li>
        <li>Obtaining patient/donor vitals, hematocrit, and protein levels as requireed by medical and federal guidelines.</li>
        <li>Determining patient/donor suitability by thorough review of personal medical history</li>
      </ul>
    </div>
    <div class="step even">
      <div class="icon-square"> <i class="fa fa-stethoscope"></i> </div>
      <h5>CSL PLASMA INC.</h5>
      <p>
        Processing Technician <br /> August 2012 - Present(3 years 6 months) | Charlotte, North Carolina area
      </p>
      <ul>
        <li>Maintaining and performing equipment calibration and validation</li>
        <li>
          Following cGMPs by labeling and verifying daily collection of blood product
          for accurate traceability with aseptic procedures in a lab environment.
        </li>
        <li>Managing and maintaining temperature controlled inventory of blood product</li>
        <li>Designated Trainer: (Test, procedures, clean practices, Leadership, effective communication, etc)</li>
      </ul>
    </div>
    <div class="step ">
      <div class="icon-square"> <i class="fa fa-connectdevelop"></i> </div>
      <h5>Education</h5>
      <p>
        University of North Carolina at Charlotte <br />
        Bachelor of Science(BSc), Computer Science | minor: Mathematics
      </p>
    </div>
  </div><!--steps-->
</div>
<div class="divide60"></div>